/* https://getbootstrap.com/ */
*, *:before, *:after{
  box-sizing: border-box;
}


body{
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  color: rgba(17, 18, 56, 1);
  padding: 0;
  margin: 0;
  
}
.header{
  background-color: #F2F3F6;
  padding-bottom: 56px;
}

.menu{
  list-style: none;
  margin: 0;
  padding: 0;

}

.menu-item:not(:last-child){ /* всем кроме послденего */
  margin-right: 10px;
}

.menu-link{ /*a*/
  color: rgba(17, 18, 56, 1);
  text-decoration: none; /* убираем подчеркивание */

  font-family: Fira Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.button{
  text-decoration: none;
  display: inline-block; /*чтобы воспринимат паддинги и маргины*/
  border: none;
  font-size: 16px;
}

.button-icon{ /*img*/
  vertical-align: middle;
  margin-right: 10px;
}

.button-text{
  vertical-align: middle;
}

.button-link{
  color: rgba(17, 18, 56, 1);
  padding: 10px;
  margin-right: 30px;
}

.button-primary{
  background-color: rgba(26, 117, 232, 1);
  color: rgba(255, 255, 255, 1);
  padding: 15px 30px;
  border-radius: 5px; 
}

.hero-title{
  margin-top: 43px; 
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 53px;
  margin-bottom: 10px;
}

.hero-text{
  margin-bottom: 30px;
  font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 140%;
}

.input-group{
  margin-bottom: 30px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid rgba(209, 209, 209, 0.1);

box-shadow: 0px 4px 25px rgba(15, 17, 56, 0.1);
border-radius: 5px;
}

.input{/*флекс элемент*/
  background-color: #fff;
  border: none;
  flex-grow: 1; 
  font-size: 16px;
  line-height: 19px;
  padding-left: 15px;
}

.input:focus{ /*когда кликаем на поле поиска*/
  outline: none;
}

.tags-group{
  padding-left: 20px;
  color: #b2b2b2;
}

.tag{
  color: #b2b2b2;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid #B2B2B2;
  border-radius: 5px;
  margin-left: 10px;
}

.section{
  padding-top: 70px;
  padding-bottom: 80px;
}

.section-title{
  margin: 0;
  margin-bottom: 40px;
}

.card{
  text-decoration: none;
  color: #111238;
  background-color: #F2F3F6;
  border-radius: 10px;
  width: 166px;
  padding: 35px;
  transition: background 0.2s; /*планвость перхода цвета*/
}

.card:hover{
  background-color: rgba(26, 117, 232, 1);
  color:rgba(255, 255, 255, 1);
  
}

.card-icon{ /*svg^, в icons.svg убираем у тэга symbol удаляем атрибут  fill*/
  
  margin-bottom: 15px;
}


.card:hover .card-icon{
  fill: #fff;
  transition: fill 0.2s;
}

.offer{
  padding: 30px;
  border: 1px solid  #B2B2B2;
  border-radius: 10px;
  margin-bottom: 20px;
}

.offer-image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border:1px solid #f2f3f6; /**/
}

.offer-title{
  margin-left: 20px;
}

.offer-heading{
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  margin-bottom: 10px;
}


.offer-city{
  font-size: 14px;
  line-height: 17px;
  color: #111238;
}

.offer-salary{
  margin-left: 46px;
  
  font-weight: 700px;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  padding: 10px 25px;
  background-color: rgba(26, 117, 232, 1);
  border-radius: 5px;
}

.tags-group{
  margin-left: 65px;
}

.more{
  margin-left: auto; /*флекс элемент прижмется к парвму краю родителя*/
  margin-right: 25px;
  font-size: 14px;
  line-height: 17px;
  color: #1A75E8;
  text-decoration: none;
}

.subscribe{
  background-color: #F2F3F6;
}

.subcribe-form{
  max-width: 460px;
  margin: auto; /*отцентрет*/
  text-align: center;
}

.subcribe-title{
  font-size: 36px;
  line-height: 43px;
  margin: 0;
  margin-bottom: 20px;
}

.subscribe-subttile{
  font-size: 18px;
  line-height: 25px;
  margin: 0;
  margin-bottom: 40px;
}

.footer{
  padding-top: 70px;
  padding-bottom: 127px;
}